root=true

[*.cs]
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.IDE0090.severity = none


# Ignore paths
[/Assets/TextMesh Pro/**]
dotnet_diagnostic.UNT0001.severity = none
dotnet_diagnostic.UNT0007.severity = none
dotnet_diagnostic.UNT0022.severity = none

dotnet_diagnostic.IDE0000.severity = none
dotnet_diagnostic.IDE0001.severity = none
dotnet_diagnostic.IDE0002.severity = none
dotnet_diagnostic.IDE0003.severity = none
dotnet_diagnostic.IDE0004.severity = none
dotnet_diagnostic.IDE0005.severity = none
dotnet_diagnostic.IDE0006.severity = none
dotnet_diagnostic.IDE0007.severity = none
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0009.severity = none
dotnet_diagnostic.IDE0010.severity = none
dotnet_diagnostic.IDE0011.severity = none
dotnet_diagnostic.IDE0012.severity = none
dotnet_diagnostic.IDE0013.severity = none
dotnet_diagnostic.IDE0014.severity = none
dotnet_diagnostic.IDE0015.severity = none
dotnet_diagnostic.IDE0016.severity = none
dotnet_diagnostic.IDE0017.severity = none
dotnet_diagnostic.IDE0018.severity = none
dotnet_diagnostic.IDE0019.severity = none
dotnet_diagnostic.IDE0020.severity = none
dotnet_diagnostic.IDE0021.severity = none
dotnet_diagnostic.IDE0022.severity = none
dotnet_diagnostic.IDE0023.severity = none
dotnet_diagnostic.IDE0024.severity = none
dotnet_diagnostic.IDE0025.severity = none
dotnet_diagnostic.IDE0026.severity = none
dotnet_diagnostic.IDE0027.severity = none
dotnet_diagnostic.IDE0028.severity = none
dotnet_diagnostic.IDE0029.severity = none
dotnet_diagnostic.IDE0030.severity = none
dotnet_diagnostic.IDE0031.severity = none
dotnet_diagnostic.IDE0032.severity = none
dotnet_diagnostic.IDE0033.severity = none
dotnet_diagnostic.IDE0034.severity = none
dotnet_diagnostic.IDE0035.severity = none
dotnet_diagnostic.IDE0036.severity = none
dotnet_diagnostic.IDE0037.severity = none
dotnet_diagnostic.IDE0038.severity = none
dotnet_diagnostic.IDE0039.severity = none
dotnet_diagnostic.IDE0040.severity = none
dotnet_diagnostic.IDE0041.severity = none
dotnet_diagnostic.IDE0042.severity = none
dotnet_diagnostic.IDE0043.severity = none
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.IDE0045.severity = none
dotnet_diagnostic.IDE0046.severity = none
dotnet_diagnostic.IDE0047.severity = none
dotnet_diagnostic.IDE0048.severity = none
dotnet_diagnostic.IDE0049.severity = none
dotnet_diagnostic.IDE0050.severity = none
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.IDE0052.severity = none
dotnet_diagnostic.IDE0053.severity = none
dotnet_diagnostic.IDE0054.severity = none
dotnet_diagnostic.IDE0055.severity = none
dotnet_diagnostic.IDE0056.severity = none
dotnet_diagnostic.IDE0057.severity = none
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.IDE0059.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0061.severity = none
dotnet_diagnostic.IDE0062.severity = none
dotnet_diagnostic.IDE0063.severity = none
dotnet_diagnostic.IDE0064.severity = none
dotnet_diagnostic.IDE0065.severity = none
dotnet_diagnostic.IDE0066.severity = none
dotnet_diagnostic.IDE0067.severity = none
dotnet_diagnostic.IDE0068.severity = none
dotnet_diagnostic.IDE0069.severity = none
dotnet_diagnostic.IDE0070.severity = none
dotnet_diagnostic.IDE0071.severity = none
dotnet_diagnostic.IDE0072.severity = none
dotnet_diagnostic.IDE0073.severity = none
dotnet_diagnostic.IDE0074.severity = none
dotnet_diagnostic.IDE0075.severity = none
dotnet_diagnostic.IDE0076.severity = none
dotnet_diagnostic.IDE0077.severity = none
dotnet_diagnostic.IDE0078.severity = none
dotnet_diagnostic.IDE0079.severity = none
dotnet_diagnostic.IDE0080.severity = none
dotnet_diagnostic.IDE0081.severity = none
dotnet_diagnostic.IDE0082.severity = none
dotnet_diagnostic.IDE0083.severity = none
dotnet_diagnostic.IDE0084.severity = none
dotnet_diagnostic.IDE0085.severity = none
dotnet_diagnostic.IDE0086.severity = none
dotnet_diagnostic.IDE0087.severity = none
dotnet_diagnostic.IDE0088.severity = none
dotnet_diagnostic.IDE0089.severity = none
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.IDE0091.severity = none
dotnet_diagnostic.IDE0092.severity = none
dotnet_diagnostic.IDE0093.severity = none
dotnet_diagnostic.IDE0094.severity = none
dotnet_diagnostic.IDE0095.severity = none
dotnet_diagnostic.IDE0096.severity = none
dotnet_diagnostic.IDE0097.severity = none
dotnet_diagnostic.IDE0098.severity = none
dotnet_diagnostic.IDE0099.severity = none
dotnet_diagnostic.IDE0100.severity = none

dotnet_diagnostic.IDE1006.severity = none
